<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jasper-radana" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>JasperRadana</name>
	<js-module name="JasperRadana" src="www/JasperRadana.js">
		<clobbers target="cordova.plugins.JasperRadana" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="JasperRadana">
				<param name="android-package" value="cordova-plugin-jasper-radana.JasperRadana" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/JasperRadana.java" target-dir="src/cordova-plugin-jasper-radana/JasperRadana" />
	</platform>
	<platform name="browser">

			<config-file target="config.xml" parent="/*">
				<feature name="JasperRadana">    
					<param name="browser-package" value="JasperRadana" />     
				</feature>
			</config-file>

			<js-module src="src/browser/JasperRadanaProxy.js" name="JasperRadanaProxy">
				<runs />
			</js-module>

	</platform>
	
</plugin>